<div>
    <app-comunicacao [comunicacao]="comunicacaoSelecionada" (updateComunicacaoLista)="findComunicacoes()"></app-comunicacao>

    <div class="separator"></div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered">

                <thead>
                    <tr>
                        <th>Meio</th>
                        <th>Preferência</th>
                        <th>Detalhe</th>
                        <th>Uso</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td colspan="5" class="text-center">Nenhum comunicação adicionada</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>