 <div>
    <app-comunicacao [comunicacao]="comunicacaoSelecionada" (updateComunicacaoLista)="findComunicacoes()"></app-comunicacao>

    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <table class="table table-striped table-hover">

            <thead>
                <tr>
                    <th>Meio</th>
                    <th>Preferência</th>
                    <th>Detalhe</th>
                    <th>Uso</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngIf="comunicacoes.length == 0">
                    <td colspan="6" align="center">Nenhum registro encontrado.</td>
                </tr>
                <tr *ngFor="let c of comunicacoes" >
                    <td>{{ c.meio }}</td>
                    <td>{{ c.preferencia }}</td>
                    <td>{{ c.detalhe }}</td>
                    <td>{{ c.uso }}</td>
                    <td><button class="btn btn-sm btn-info btn-block" (click)="onEdit(c); $event.stopPropagation()">Alterar</button></td>
                    <td><button class="btn btn-sm btn-danger btn-block" (click)="onDelete(c); $event.stopPropagation()">Deletar</button></td>
                </tr>
            </tbody>

        </table>
    </div>
    </div>
</div>

