<h2>Nomes</h2>

<div class="row">
    <div class="col-md-2">
        <label>Titulo</label>
        <input class="form-control" id="txtTitulo">
    </div>
    <div class="col-md-4">
        <label>Nome</label>
        <input class="form-control" id="txtNome">
    </div>
    <div class="col-md-4">
        <label>Sobrenome</label>
        <input class="form-control" id="txtSobrenome">
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <label>Sufixos</label>
        <input class="form-control" id="txtSufixo">
    </div>
</div>
