<h2>Nomes</h2>
<br>
<div class="row">
    <div class="col-md-2">
        <label>Titulo</label>
        <input class="form-control" id="txtTitulo">
    </div>
    <div class="col-md-4">
        <label>Nome</label>
        <input class="form-control" id="txtNome">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <label>Sobrenome</label>
        <input class="form-control" id="txtSobrenome">
    </div>
    <div class="col-md-2">
        <label>Sufixos</label>
        <input class="form-control" id="txtSufixo">
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <label>Data Inicial</label>
        <input type="date" class="form-control" id="txtDtInicial">
    </div>
    <div class="col-md-3">
        <label>Data Final</label>
        <input type="date" class="form-control" id="txtDtFinal">
    </div>
    <div class="col-md-3">
        <label for="">Tipo de Utilização</label>
        <div class="form-group">
          <select class="form-control" id="txtUtil">
            <option>Relátorio (R)</option>
            <option>Nome de recém-nascido (N)</option>
            <option>Nome profissional ou comercial (C)</option>
            <option>Nome de solteiro, nome de nascimento ou nome original (S)</option>
            <option>Nome registrado (L)</option>
            <option>Outro nome (alias) (O)</option>
          </select>
        </div>
    </div>

</div>
