<h2>Comunicação</h2>

<form>
  <div class="row">
      <div class="form-group col-md-6">
        <label for="inputMeio">Meio</label>
        <input type="text" placeholder="Informe o meio de comunicação"
            class="form-control"
            id="inputMeio">        
      </div>
      <div class="form-group col-md-6">
        <label for="inputPreferencia" class="form-control-label">Preferência</label>
        <input type="text" placeholder="Informe a preferência da comunicação"
            class="form-control"
            id="inputPreferencia">
      </div>
  </div>
  <div class="row">
      <div class="form-group col-md-6">
        <label for="inputDetalhe">Detalhe</label>
        <input type="text" placeholder="Informe o detalhe da comunicação"
            class="form-control"
            id="inputDetalhe">        
      </div>
      <div class="form-group col-md-6">
        <label for="inputUso" class="form-control-label">Uso</label>
        <input type="text" placeholder="Informe o uso da comunicação"
            class="form-control"
            id="inputUso">
      </div>
  </div>
</form>