<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <table class="table table-striped table-hover">

        <thead>
            <tr>
                <th>Meio</th>
                <th>Preferência</th>
                <th>Detalhe</th>
                <th>Uso</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngIf="comunicacoes.length == 0">
                <td colspan="4" align="center">Nenhum registro encontrado.</td>
            </tr>
            <tr *ngFor="let c of comunicacoes" >
                <td>{{ c.meio }}</td>
                <td>{{ c.preferencia }}</td>
                <td>{{ c.detalhe }}</td>
                <td>{{ c.uso }}</td>
            </tr>
        </tbody>

    </table>
  </div>
</div>

