<div>
    <app-nomes></app-nomes>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover">

                <thead>
                    <tr>
                        <th>Nome Completo</th>
                        <th>Dt. Inicial</th>
                        <th>Dt. Final</th>
                        <th>Utilização</th>
                        <th>Preferido</th>

                    </tr>
                </thead>

                <tbody>
                    <tr *ngIf="nomes.length == 0">
                        <td colspan="4" align="center">Nenhum registro encontrado.</td>
                    </tr>
                    <tr *ngFor="let n of nomes">
                        <td>{{ n.nome }}</td>
                        <td>{{ n.dtInicial }}</td>
                        <td>{{ n.dtFinal }}</td>
                        <td>{{ n.utilizacao }}</td>
                        <td>{{ n.preferido }}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>