<form>
  <fieldset>
    <legend class="sub-title-page">Endereço</legend>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label>Bairro</label>
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label>Distrito</label>
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label>Código do municipio</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label>Estado</label>
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label>CEP</label>
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label>Caixa postal</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label>País</label>
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label>Tipo</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend class="sub-title-page">Linha de endereço</legend>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label>Ordem</label>
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label>Linhan</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
  </fieldset>
</form>