<div>
  <app-endereco></app-endereco>

  <div class="separator"></div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="width: 20%;">Tipo</th>
        <th style="width: 35%;">Bairro</th>
        <th style="width: 35%;">Distrito</th>
        <th class="text-center" style="width: 10%">Ações</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td colspan="4" class="text-center">
          Nenhum endereço adicionado
        </td>
      </tr>
    </tbody>
  </table>
</div>