<h2>Identificador</h2>

<form (ngSubmit)="onSubmit()" #identificadorForm="ngForm" novalidate>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputDocumento">Documento</label>
      <select id="inputDocumento"
        class="form-control"
        #inputDocumento='ngModel'
        name='inputDocumento'
        [(ngModel)]="identificador.documento">
        <option disabled selected value="null"> -- Selecione -- </option>
        <option value="1">Certidão</option>          
        <option value="2">CTPS</option>
        <option value="3">Título eleitoral</option>
      </select>
    </div>
    <div class="form-group col-md-6">
        <label for="inputNumero" class="form-control-label">Número</label>
        <input type="text" placeholder="Informe o número do documento selecionado"
            class="form-control"
            #inputNumero="ngModel"
            name="inputNumero"
            [(ngModel)]="identificador.numero">
    </div>
  </div>

  <div *ngIf="identificador.documento == 1" class="form-row">
      <div class="form-group col-md-2">
        <label for="iddocumentoCertidao">Certidão</label>
        <select id="iddocumentoCertidao" class="form-control">
          <option disabled selected value="null"> -- Selecione -- </option>
          <option value="1">Nascimento</option>
          <option value="2">Casamento</option>
          <option value="3">Óbito</option>
          <option value="4">Protesto</option>
          <option value="5">Imóvel</option>
          <option value="6">Apostilamento</option>
        </select>
      </div>  
      
      <div class="form-group col-md-10">
      <label for="inputCartorio">Cartório</label>
      <input type="text" placeholder="Informe o cartório da certidão"
          class="form-control"   
          #inputCartorio="ngModel"
          name="inputCartorio"
          [(ngModel)]="identificador.cartorio">
    </div>
  </div>

  <div *ngIf="identificador.documento == 1" class="form-row">
      <div class="form-group col-md-6">
          <label for="inputLivro">Livro</label>
          <input type="text" placeholder="Informe o livro do cartório"
              class="form-control"   
              #inputLivro="ngModel"
              name="inputLivro"
              [(ngModel)]="identificador.livro">
      </div>  
      <div class="form-group col-md-2">
          <label for="inputFolha">Folha</label>
          <input type="text" placeholder="Informe a folha do livro"
              class="form-control"   
              #inputFolha="ngModel"
              name="inputFolha"
              [(ngModel)]="identificador.folha">
      </div>
      <div class="form-group col-md-4">
          <label for="inputTermo">Termo</label>
          <input type="text" placeholder="Informe o termo do livro"
              class="form-control"   
              #inputTermo="ngModel"
              name="inputTermo"
              [(ngModel)]="identificador.termo">
      </div>
    </div>  

    <div *ngIf="identificador.documento == 2" class="form-row">
      <div class="form-group col-md-6">
          <label for="inputSerie">Serie</label>
          <input type="text" placeholder="Informe a serie da CTPS"
              class="form-control"   
              #inputSerie="ngModel"
              name="inputSerie"
              [(ngModel)]="identificador.serie">
      </div>  
      <div class="form-group col-md-6">
          <label for="idEstado">Estado</label>
          <select id="idEstado" class="form-control">
            <option disabled selected value="null"> -- Selecione -- </option>
            <option value="11">Rondônia</option>
            <option value="12">Acre</option>
            <option value="13">Amazonas</option>
            <option value="14">Roraima</option>
            <option value="15">Pará</option>
            <option value="16">Amapá</option>
            <option value="17">Tocantins</option>
            <option value="21">Maranhão</option>
            <option value="22">Piauí</option>
            <option value="23">Ceará</option>
            <option value="24">Rio Grande do Norte</option>
            <option value="25">Paraíba</option>
            <option value="26">Pernambuco</option>
            <option value="27">Alagoas</option>
            <option value="28">Sergipe</option>
            <option value="29">Bahia</option>
            <option value="31">Minas Gerais</option>
            <option value="32">Espírito Santo</option>
            <option value="33">Rio de Janeiro</option>
            <option value="35">São Paulo</option>
            <option value="41">Paraná</option>
            <option value="42">Santa Catarina</option>
            <option value="43">Rio Grande do Sul</option>
            <option value="50">Mato Grosso do Sul</option>
            <option value="51">Mato Grosso</option>
            <option value="52">Goiás</option>
            <option value="53">Distrito Federal</option>
          </select>
      </div>
    </div>    

    <div *ngIf="identificador.documento == 3" class="form-row">
      <div class="form-group col-md-6">
          <label for="inputSecao">Seção</label>
          <input type="text" placeholder="Informe a seção do título eleitoral"
              class="form-control"   
              #inputSecao="ngModel"
              name="inputSecao"
              [(ngModel)]="identificador.secao">
      </div>  
      <div class="form-group col-md-6">
          <label for="inputZona">Zona</label>
          <input type="text" placeholder="Informe a zona do título eleitoral"
              class="form-control"   
              #inputZona="ngModel"
              name="inputZona"
              [(ngModel)]="identificador.zona">
      </div>
    </div>

  <div class="form-group">
    <label for="inputDesignacao">Designação</label>
    <input type="text" placeholder="Informe a designação deste identificador"
        class="form-control"
        #inputDesignacao='ngModel'
        name="inputDesignacao"
        [(ngModel)]="identificador.designacao">
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
        <label for="inputArea">Área</label>
        <input type="text" placeholder="Informe a área deste identificador"
            class="form-control"
            #inputArea="ngModel"
            name="inputArea"
            [(ngModel)]="identificador.area">
    </div>
    <div class="form-group col-md-4">
      <label for="inputEmissor">Emissor</label>
      <input type="text" placeholder="Informe o emissor deste identificador"
          class="form-control"
          #inputEmissor="ngModel"
          name="inputEmissor"
          [(ngModel)]="identificador.emissor">
    </div>
    <div class="form-group col-md-4">
      <label for="idData">Data</label>
      <input type="text" class="form-control" id="idData" >
    </div>
  </div>
</form>