<form>
  <fieldset>
    <legend class="sub-title-page">Dados demográficos</legend>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Mãe</label>
          <input type="text" class="form-control" name="dadosDemograficos.mae" [(ngModel)]="dadosDemograficos.mae">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Pai</label>
          <input type="text" class="form-control" name="dadosDemograficos.pai" [(ngModel)]="dadosDemograficos.pai">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label>Sexo</label>

          <select class="form-control" name="dadosDemograficos.sexo" [(ngModel)]="dadosDemograficos.sexo">
            <option [value]="sexoMasculino">
              Masculino
            </option>
            <option [value]="sexoFeminino">
              Feminino
            </option>
          </select>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label>Raça/cor</label>
          <select class="form-control" name="dadosDemograficos.raca" [(ngModel)]="dadosDemograficos.raca">
            <option [value]="raca.id" *ngFor="let raca of racaList">
              {{ raca.title }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Situação familiar</label>
          <select class="form-control" name="dadosDemograficos.situacaoFamiliar" [(ngModel)]="dadosDemograficos.situacaoFamiliar">
            <option [value]="situacaoFamiliar.id" *ngFor="let situacaoFamiliar of situacaoFamiliarList">
              {{ situacaoFamiliar.title }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Comentário</label>
          <textarea rows="3" class="form-control" name="dadosDemograficos.comentario" [(ngModel)]="dadosDemograficos.comentario"></textarea>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Fonte de notificação de óbito</label>
          <textarea rows="3" class="form-control" name="dadosDemograficos.obitoFonte" [(ngModel)]="dadosDemograficos.obitoFonte"></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label>Nascimento pluralidade</label>
          <textarea rows="3" class="form-control" name="dadosDemograficos.nascimentoPluralidade" [(ngModel)]="dadosDemograficos.nascimentoPluralidade"></textarea>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label>Nascimento ordem</label>
          <textarea rows="3" class="form-control" name="dadosDemograficos.nascimentoOrdem" [(ngModel)]="dadosDemograficos.nascimentoOrdem"></textarea>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label>Nascimento seguimento</label>
          <textarea rows="3" class="form-control" name="dadosDemograficos.nascimentoSeguimento" [(ngModel)]="dadosDemograficos.nascimentoSeguimento"></textarea>
        </div>
      </div>
    </div>
  </fieldset>

  <hr>

  <fieldset>
    <legend class="sub-title-page">Nacionalidade</legend>

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label>Município</label>
          <input type="text" class="form-control" name="dadosDemograficos.municipio" [(ngModel)]="dadosDemograficos.municipio">
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label>Estado</label>
          <input type="text" class="form-control" name="dadosDemograficos.estado" [(ngModel)]="dadosDemograficos.estado">
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label>País</label>
          <input type="text" class="form-control" name="dadosDemograficos.pais" [(ngModel)]="dadosDemograficos.pais">
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label>Data de entrada no país</label>
          <input type="date" class="form-control" name="dadosDemograficos.dataEntradaPais" [(ngModel)]="dadosDemograficos.dataEntradaPais">
        </div>
      </div>
    </div>
  </fieldset>

  <hr>

  <fieldset>
    <legend class="sub-title-page">Nascimento</legend>

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label>Data</label>
          <input type="date" class="form-control" name="dadosDemograficos.nascimento" [(ngModel)]="dadosDemograficos.nascimento">
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label>Acurácia</label>
          <div class="clearfix mt-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="nascimento-acuracia-alta" name="dadosDemograficos.nascimentoAcuracia"
                [(ngModel)]="dadosDemograficos.nascimentoAcuracia" value="alta">
              <label class="form-check-label" for="nascimento-acuracia-alta">Alta</label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="nascimento-acuracia-baixa" name="dadosDemograficos.nascimentoAcuracia"
                [(ngModel)]="dadosDemograficos.nascimentoAcuracia" value="baixa">
              <label class="form-check-label" for="nascimento-acuracia-baixa">Baixa</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <hr>

  <fieldset>
    <legend class="sub-title-page">Óbito</legend>

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label>Data</label>
          <input type="date" rows="3" class="form-control" name="dadosDemograficos.obito" [(ngModel)]="dadosDemograficos.obito">
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label>Acurácia</label>
          <div class="clearfix mt-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="obito-acuracia-alta" name="dadosDemograficos.obitoAcuracia"
                [(ngModel)]="dadosDemograficos.obitoAcuracia" value="alta">
              <label class="form-check-label" for="obito-acuracia-alta">Alta</label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="obito-acuracia-baixa" name="dadosDemograficos.obitoAcuracia"
                [(ngModel)]="dadosDemograficos.obitoAcuracia" value="baixa">
              <label class="form-check-label" for="obito-acuracia-baixa">Baixa</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>