/* You can add global styles to this file, and also import other style files */

html body {
    background: #efefef;
    font-size: 13px;
    line-height: 1.2em;
}


/* Header */

#header {
    margin: 0 0 18px;
    padding: 18px 0;
}


/* logo */

#logo a {
    color: #212529;
    text-decoration: none;
}


/* header-right  */

#header-right {
    margin: 5px 0 0;
}


#header-right > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* Nav */

#nav {
    margin: 0;
}


#nav-tabContent {
    background: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #fff #dee2e6 #dee2e6;
    padding: 15px 18px;
    margin: 0 0 15px;
}


/* Main */

#main {
    margin-bottom: 15px;
}


/* page-title */

.page-title {
    font-size: 22px;
    margin: 0;
}


/* sub-title-page */

.sub-title-page {
    font-size: 18px;
    margin: 0 0 15px;
}


/* Form */

main .form-control,
main .btn {
    font-size: 13px;
    line-height: 1.2em;
}


/* Margins */

.mt-10 {
    margin-top: 10px;
}
